/* .bolha {
    position:absolute; 
    z-index: 2; 
    width: 600px; 
    height: 600px; 
    background: rgb(240,1,216);
background: linear-gradient(135deg, rgba(240,1,216,1) 0%, rgba(240,1,1,0.5553571770505077) 100%);
    border-radius: 50%;
    bottom: 0px;
} */