.carregando {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: aliceblue;
    animation: fadeout 4s;
    opacity: 0%;
    position: absolute;
    z-index: 4;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    60% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.carregando h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    font-size: 90px;
    opacity: 0%;
    animation: fade-h1 4s;
    border-right: 2px solid #fff;
    /* animation: barra-piscando infinite 4s; */
}

@keyframes fade-h1 {
    0% {
        opacity: 0px;
    }
    30% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes barra-piscando {
    from {
        border-right: none;
    }
    to {
        border-right: 2px solid #fff;
    }
}