#btn-mobile {
  display: none;
}

#btn-mobile {
  height: 30px;
  width: 30px;
}
/* #btn-mobile img {
  height: 30px;
  width: 30px;
} */

  #menu {
    display: flex;
  }

@media (max-width: 1200px) {

  #btn-mobile {
    display: block;
    /* background: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
    border: 1px solid rgb(148, 148, 148);
    color: aliceblue; */
    padding: 10px 10px 10px 0px;
    border-radius: 10px;
    position: relative;
    /* margin-left: 4%; */
    margin-top: 20px;
  }
  
  #menu {
    display: none;
  }

  #nav.active #menu {
    display: flex;
  }

}