html {
    scroll-behavior: smooth;
    font-family: 'Hermit';
    background: rgb(50, 15, 93);
    background: linear-gradient(90deg, rgba(50, 15, 93, 1) 0%, rgba(183, 0, 255, 1) 100%);
}

:target {
    scroll-margin-top: .8em;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #B500FC;
}

body::-webkit-scrollbar-thumb {
    background-color: #350F61;
    border-radius: 5px;
    border: 3px solid #B500FC;
}

body {
    margin: 0px;
    color: aliceblue;
    /* background-color: black; */
    /* background: rgb(50, 15, 93);
    background: linear-gradient(90deg, rgba(50, 15, 93, 1) 0%, rgba(183, 0, 255, 1) 100%); */
    /* background: rgb(91, 27, 170);
    background: linear-gradient(90deg, rgba(91, 27, 170, 1) 17%, rgba(0, 151, 255, 1) 100%); */
}

header {
    display: flex;
    align-items: center;
    /* background-color: rgb(4, 30, 30); */
    color: aliceblue;
    width: 95%;
    padding: 0px 10px 0px 10px;
    margin: 30px auto 0px auto;
}

header h1 {
    flex: 1;
    margin-left: 20px;
    font-size: 12pt;
}

header ul {
    list-style: none;
    margin-right: 20px;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

@keyframes underline-piscando {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.underline {
    animation-name: underline-piscando;
    animation-duration: .8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.parte1 {
    display: flex;
    width: 95%;
    margin: 120px auto 200px;
}

.parte1 .texto h1 {
    margin: 10px 0px;
    font-weight: 100;
    font-size: 30pt;
    font-weight: bold;
}

.parte1 .texto h2 {
    color: #e7aaff;
    margin: 0px;
    font-weight: 700;
    font-size: 16pt;
}

.parte1 .texto {
    flex: 1;
    padding: 30px;
}

.parte1 .parte1-img {
    flex: 1;
    text-align: center;
    font-size: 200pt;
    color: #fff;
}


/****************************************************/

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
    .parte1 {
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
    }
    .parte1 .parte1-img {
        flex: 1;
        text-align: center;
        font-size: 100pt;
        color: #fff;
        margin: 0px;
    }
    html {
        scroll-behavior: auto;
    }
}