.parte1 {
    position: relative;
    display: flex;
    width: 95%;
    margin: 120px auto 200px;
    align-items: center;
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}

.parte1 .texto h1 {
    margin: 0px;
    font-weight: 100;
    font-size: 30pt;
    font-weight: bold;
}

.parte1 .texto h2 {
    color: #e7aaff;
    margin: 0px;
    font-weight: 700;
    font-size: 16pt;
}

.parte1 .texto {
    flex: 1;
    padding: 30px;
}

.parte1 .texto p {
    margin-top: 35px;
}

.parte1 .parte1-img {
    flex: 1;
    text-align: center;
    font-size: 200pt;
    color: #fff;
}


/****************************************************/

@media (max-width:900px) {
    .parte1 .parte1-img {
        display: none;
    }
    .parte1 {
        margin: 50px auto 50px;
    }
}

@media (max-width: 600px) {
    .parte1 {
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
    }
    .parte1 .parte1-img {
        display: none;
        flex: 1;
        text-align: center;
        font-size: 100pt;
        color: #fff;
        margin: 0px;
    }
}