.parte2 h1 {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 24pt;
}

.projetos {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-auto-rows: 200px; */
    gap: 20px;
    width: 880px;
    margin: 0px auto;
    margin-bottom: 200px;
}

.projetos a {
    text-decoration: none;
    margin-top: 20px;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    color: #fff;
    top: 0;
    transition: all .2s ease-in-out;
    width: 280px;
    margin: auto;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.card {
    background-color: rgb(255, 248, 219, 0.1);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .card {
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
}

.card:hover {
    position: relative;
    top: -15px;
    box-shadow: 0 0px 2em #9842ba;
}

.card-image {
    height: 250px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: #fff;
}

.card ul {
    list-style: none;
    display: flex;
    padding: 0px;
    font-size: 8pt;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card li {
    margin-right: 5px;
    background-color: #320f5d;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    /* box-shadow: 0 0 1em #3f186e; */
}

.card p {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 100;
}

.card h2 {
    /* margin-top: 5px; */
    margin-bottom: 0px;
    font-size: 18px;
}

.card .card-texto {
    padding: 5px 25px 25px 25px;
}

.card-texto ul li {
    margin-top: 5px;
}

.card .api {
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    margin: 0px;
    background-color: rgb(147, 255, 147);
}


/******************************************************/

@media (max-width:900px) {
    .projetos {
        grid-template-columns: repeat(2, 1fr);
        width: 580px;
    }
}

@media (max-width:600px) {
    .projetos {
        grid-template-columns: 1fr;
        width: 300px;
        margin-bottom: 100px;
    }
}

@media (max-width:300px) {
    .projetos {
        grid-template-columns: 1fr;
        width: 95%;
    }
}


/******************************************************/


/* EFEITO DE GLITCH DO DESENVOLVENDO */

.container {
    text-align: center;
}

.glitch {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    animation: glitch 725ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    15% {
        text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
    }
    16% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
    }
    50% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    99% {
        text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
    }
    100% {
        text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
    }
}


/*************************************************************************************************************/