.parte2 h1 {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 24pt;
}

.parte2 {
    /* filter: blur(14px); */
}

.projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 880px;
    margin: 0px auto;
    text-align: center;
    /* backdrop-filter: blur(200px); */
    margin-bottom: 100px;
}

.card {
    border-radius: 10px;
    background-color: rgb(255, 248, 219, 0.2);
    padding: 20px;
}

.card:hover {}

.card-image {
    /* height: em; */
    /* width: 80%; */
    width: 220px;
    height: 220px;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 10px;
    background-color: aliceblue;
}


/* .card h2,
.card p {
    padding-left: 10px;
    padding-right: 10px;
} */


/******************************************************/

@media (max-width:900px) {
    .projetos {
        grid-template-columns: repeat(2, 1fr);
        width: 580px;
    }
}

@media (max-width:600px) {
    .projetos {
        grid-template-columns: 1fr;
        width: 300px;
    }
}

@media (max-width:300px) {
    .projetos {
        grid-template-columns: 1fr;
        width: 95%;
    }
}