.parte1 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    margin: 80px auto;
    align-items: center;
}

body {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}

.parte1 .texto h1 {
    margin: 0px;
    font-weight: 100;
    font-size: 30pt;
    font-weight: bold;
}

.parte1 .texto h2 {
    color: #e7aaff;
    margin: 0px;
    font-weight: 700;
    font-size: 16pt;
}

.parte1 .texto {
    flex: 1;
    padding: 30px;
}

.parte1 .texto p {
    margin-top: 35px;
}

.parte1 .parte1-img {
    /* flex: 1; */
    margin: 0px auto;
    width: 370px;
    height: 370px;
    object-fit: cover;
    object-position: center;
    border: 40px solid rgb(255, 248, 219, 0.05);
    box-shadow: inset 0 0 1em gold;
    border-radius: 500px;
}

.parte1 .teste {
    flex: 1;
    margin: 0px auto;
    width: 450px;
    height: 450px;
    backdrop-filter: blur(2px);
    background-color: rgb(255, 248, 219, 0.05);
    border-radius: 400px;
}

.parte1 .teste-flex {
    flex: 1;
}


/****************************************************/

@media (max-width: 1150px) {
    .parte1 {
        margin: 50px auto;
        width: auto;
        height: auto;
    }
    .parte1 .parte1-img {
        max-width: 100%;
        max-height: 100%;
        margin: 0px auto;
    }
}

@media (max-width:900px) {
    .parte1 .parte1-img {
        display: none;
    }
    .parte1 {
        margin: 50px auto 50px;
        grid-template-columns: 1fr;
        width: 95%;
    }
}

@media (max-width: 600px) {
    .parte1 {
        margin-top: 0px;
        margin-bottom: 0px;
        flex-direction: column;
    }
    .parte1 .parte1-img {
        display: none;
        flex: 1;
        text-align: center;
        font-size: 100pt;
        color: #fff;
        margin: 0px;
    }
}