.section-3 {
  margin-bottom: 150px;
}

.section-3 h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 0px auto 70px;
    width: 1200px;
}

.section-3 h2::after {
    content: "";
    margin-top: 10px;
    border-radius: 40px;
    width: 50px;
    height: 6px;
    background: linear-gradient(95.51deg, #FD93C9 0%, #BF79F7 100%);
    
    display: block;
  }

  .section-3 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto 100px;
    align-items: center;
    width: 1200px;
    gap: 80px;
    /* height: 60vh; */
  }

  .item-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    border-radius: 20px;
    text-align: center;
        width: 350px;


    background: rgba(217, 217, 217, 0.02);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

  .item-grid img {
    width: 70%;
    border-radius: 10%;
    margin-bottom: 30px;
  }

  .section-3 h3 {
    font-size: 2.5em;
    font-weight: bold;
     margin: auto;
    height: 100px; 
    display : flex;
    align-items : center;
    justify-content : center; 
  }

  .item-grid p {
   margin: 10%;
   font-weight: bold;
   color: #ffffffd3;
   height: 80px;

  }

  .item-grid button {
    cursor: pointer;
    background-color: #ffffff55;
    border: none;
    border-radius: 40px;
    font-size: 14pt;
    color: #fff;
    font-weight: 700;
    padding: 10px 70px;
    top: 30px;
    transition: 0.3s;

  }
  
  .item-grid button:hover {
    background-color: #d265fd;
    box-shadow: 0 0 2em #d054d2;
  }

.item-grid ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  padding-left: 0px;
}

.item-grid ul li {
list-style-type: none;
margin: 0px 10px;
}

.item-grid ul i:first-child{
  margin:0px;
}

.item-grid ul li img {
width: 28px;
}


@media (max-width: 1250px) {

  .section-3 .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 740px;
    margin: 0px auto;
    gap: 40px;

  }
  .section-3 h2 {
    width: 90%;
}

  .item-grid {
    width: 350px;
 
 }

}


@media (max-width: 850px) {
  .section-3 .grid {
    grid-template-columns: 1fr;
    width: 350px;
    margin: 0px auto;

    }

  .item-grid {
   margin: 0px auto;

}

}

@media (max-width: 600px) {
  .section-3 h2 {
    font-size: 2em;
}
}

@media (max-width: 400px) {
  .section-3 .grid {
    width: 90%;
    margin: 0px auto;
    }
    
    .section-3 h2 {
      margin-bottom: 20px;
    }

    .section-3 .grid .item-grid {
      width: 90%;
    }

    .section-3 h3 {
      font-size: 2em;
    }
}