html {
    font-family: sans-serif;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    padding: 0px 10px 0px 10px;
}

header h1 {
    flex: 1;
}

header ul {
    list-style: none;
    margin-right: 20px;
}