@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
html,
body {
    margin: 0px;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
    height: 50px;
    position: fixed;
    top: 0px;
    z-index: 5;
    background-color: #FFFFFF;
}

.header img {
    align-self: center;
    height: 20px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    height: 50px;
}

.nav-menu .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-menu .nav-item a {
    text-decoration: none;
    align-content: center;
    color: #717171;
    height: 50px;
    font-weight: 400;
    position: relative;
    top: 15px;
}

.nav-menu .nav-item a:hover {
    color: #111111;
}


/* HAMBURGUER MENU */

.hamburger {
    width: 40px;
    height: 40px;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media (max-width: 900px) {
    .header input {
        display: none;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
        height: 500px;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        margin: 15px auto;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}