.section2 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #f4f5f7;
    position: relative;
    z-index: 3;
    margin-top: -50px;
    /* padding: 100px; */
}

.section2 .titulos {
    width: 1150px;
    margin: 60px auto 0px auto;
}

.section2 .titulos h2 {
    font-size: 50px;
    font-weight: 300;
}

.section2 .titulos p {
    font-size: 20px;
    font-weight: 300;
}

.grid-section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 1150px;
    margin: 60px auto;
}

.item-grid-item-section2 h3 {
    font-size: 24px;
    font-weight: 400;
}

.item-grid-item-section2 p {
    font-size: 18px;
    font-weight: 300;
    color: #626262;
}

@media (max-width: 1200px) {
    .section2 .titulos {
        width: auto;
        margin: 60px auto 0px 5%;
    }
    .grid-section2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: auto;
        margin: 60px 5% 0px 5%;
    }
}

@media (max-width: 900px) {
    .section2 .titulos {
        width: auto;
        margin: 60px 5% 0px 5%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section2 .titulos {
        width: auto;
        margin: 60px 5% 0px 5%;
    }
    .grid-section2 {
        grid-template-columns: 1fr;
        gap: 10px;
        width: auto;
    }
    .item-grid-item-section2 {
        text-align: center;
    }
}