.titulo-fodas {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    margin-top: 120px;
}

.desenvolvo {
    margin-bottom: -80px;
    color: #000;
}

.fodas {
    font-size: 144px;
    font-weight: 900;
    background: url(../images/cores-random2.gif);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* .fodas {
    font-size: 144px;
    font-weight: 900;
    background: rgb(155, 38, 182);
    background: linear-gradient(90deg, rgba(155, 38, 182, 1) 20%, rgba(0, 174, 214, 1) 40%, rgba(230, 56, 136, 1) 60%, rgba(255, 198, 0, 1) 80%);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: 1s;
    animation: changebg 3s infinite;
} */

@keyframes changebg {
    0% {
        background: rgb(155, 38, 182);
        background: linear-gradient(90deg, rgba(155, 38, 182, 1) 20%, rgba(0, 174, 214, 1) 40%, rgba(230, 56, 136, 1) 60%, rgba(255, 198, 0, 1) 80%);
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50% {
        background: rgb(155, 38, 182);
        background: linear-gradient(90deg, rgba(155, 38, 182, 1) 0%, rgba(0, 174, 214, 1) 20%, rgba(230, 56, 136, 1) 40%, rgba(255, 198, 0, 1) 60%);
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    /* 100% {
        background: rgb(155, 38, 182);
        background: linear-gradient(90deg, rgba(155, 38, 182, 1) 20%, rgba(0, 174, 214, 1) 40%, rgba(230, 56, 136, 1) 60%, rgba(255, 198, 0, 1) 80%);
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    } */
}