.parte2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    margin: 78px auto 0px 266px;
    width: 996.94px;
    height: 430px;
}

.parte2 div {
    width: 317.71px;
    height: 430px;
    margin: 0px auto;
    border-radius: 10px;
}

.parte2 button {
    font-size: 18px;
    width: 228px;
    height: 69px;
    background: #E73687;
    border-radius: 37px;
    border-style: none;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.parte2 button {
    margin: 13px auto;
    grid-column-start: 1;
    grid-column-end: 4;
}