.titulo-fodas {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    margin-top: 120px;
}

.desenvolvo {
    margin-bottom: -80px;
    color: #000;
}

.fodas {
    font-size: 144px;
    font-weight: 900;
    background: url(../images/cores-random2.gif);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}