#btn-mobile {
  display: none;
}

  /* #menu {
    display: none;
  } */

/* @media (max-width: 1200px) {

  #btn-mobile {
    display: block;
  }
  
  #menu {
    display: none;
  }

  #nav.active #menu {
    display: block;
  }

} */