.navbar ul {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 30px auto 0px;
  padding: 0px;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0px 25px;
}

.navbar ul li:first-child{
  padding-left: 8px;
}

.navbar a {
  text-decoration: none;
  color: #EEE;
  font-size: 18pt;
}

.navbar ul li a img {
  margin-left: 12px;
  height: 30px;
  width: 30px;
  position: relative;
  top: 8px;
}


/* EFEITO HOVER */

.navbar ul li a {
  padding-bottom: 10px;
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      #FD93C9,
      #9431e6
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.navbar ul li a:hover {
background-size: 0 3px, 100% 3px;
}

/* --- MEDIA QUERY --- */

@media (max-width: 1200px) {

  .navbar ul {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .navbar {
    margin: 0px auto;
    width: 90%;
  }
} 
