.navbar {
    display: flex;
    flex-direction: row;
    font-size: medium;
    font-weight: bold;
    margin: 0px auto 0px 10%;
    padding-top: 30px;
}

.navbar ul {
    padding: 0px 20px;
}

.navbar ul a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.navbar ul a img {
    margin-left: 12px;
    height: 24px;
    width: 24px;
}

a {
    color: inherit;
    text-decoration: none;
  }
  
  a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 0),
        rgba(100, 200, 200, 0)
      ),
      linear-gradient(
        to right,
        #FD93C9,
        #9431e6
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  a:hover {
    background-size: 0 3px, 100% 3px;
  }
