.navbar {
    display: flex;
    flex-direction: row;
    font-size: medium;
    font-weight: bold;
    margin: 0px auto 0px 10%;
    padding-top: 30px;
}

.navbar ul {
    padding: 0px 20px;
}

.navbar ul a {
    text-decoration: none;
    color: aliceblue;
}

