.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto 200px;
    align-items: center;
    width: 1200px;
    /* height: 60vh; */
    position: relative;
    z-index: 10;
}

.section-1 h1 {
    font-size: 8em;
    font-weight: bold;
    line-height: 75%;
    margin-bottom: 30px;
    margin-top: 0px;
}

.section-1 h2 {
    font-size: 2em;
    font-weight: normal;
}

.section-1 h2::after {
    content: "";
    margin-top: 10px;
    border-radius: 40px;
    width: 250px;
    height: 6px;
    background: linear-gradient(95.51deg, #FD93C9 0%, #BF79F7 100%);
    
    display: block;
  }

.section-1 img {
    margin: 0px auto;   
    border-radius: 10%;
}

@media (max-width: 1200px) {

    .section-1 .titulo {
    justify-content: center;
    }


    .section-1 {
      grid-template-columns: 1fr;
      width: 90%;
      margin-bottom: 0px;
      margin-top: 50px;

    }

    .section-1 h1 {
        font-size: 7em;
    }
    
    .section-1 img {
        /* grid-column-start: 1;
        grid-row-start: 1; */
        /* margin-top: 100px; */

        display: none;
    }
  }
  

  @media (max-width: 600px) {
    .section-1 h1 {
        font-size: 5em;
    }
    .section-1 h2 {
        font-size: 2em;
    }

    .section-1 h2::after {
        content: "";
        width: 50%;
      }
  }
  
  @media (max-width: 520px) {
    
    .section-1 h2::after {
        content: "";

        width: 50px;
 
      }
  }
  @media (max-width: 400px) {
    
    .section-1 h1 {
        font-size: 4em;
    }

    .section-1 h2 {
        font-size: 1.5em;
    }
  }
  @media (max-width: 330px) {
    
    .section-1 h1 {
        font-size: 3em;
    }

    .section-1 h2 {
        font-size: 1em;
    }
  }
  