.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto 200px;
    align-items: center;
    width: 1200px;
    
}

.sobre-mim h2 {
    font-size: 3em;
    font-weight: bold;
}

.sobre-mim h2::after {
    content: "";
    margin-top: 10px;
    border-radius: 40px;
    width: 50px;
    height: 6px;
    background: linear-gradient(95.51deg, #FD93C9 0%, #BF79F7 100%);
    
    display: block;
  }

.sobre-mim p {
    font-size: 1.5em;
    line-height: 150%;
    margin-right: 100px;
}

.section-2 img {
    width: 600px;
}

@media (max-width: 1200px) {

    .section-2 {
        grid-template-columns: 1fr;
        width: 90%;
        margin-bottom: 50px;

    }

    .sobre-mim p {
        margin-right: 0px;
    }

    .section-2 img {
        margin: 100px auto;
    }
  }
  

  @media (max-width: 700px) {
    .section-2 img {
        width: 90%;
    }
  }
  @media (max-width: 600px) {
    .section-2 {
        margin-top: 50px;
    }
    .sobre-mim h2 {
        font-size: 2em;
    }
    .sobre-mim p {
        font-size: 1.2em;
    }
    .section-2 img {
        display: none;
    }
    
  }
  
  @media (max-width: 330px) {
    .section-2 {
        margin-top: 50px;
    }

    .sobre-mim p {
        font-size: 1em;
    }

  }