.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px auto 300px;
    align-items: center;
    width: 1200px;
    /* height: 60vh; */
}

.section-1 .titulo {
    padding-left: 2em;
}

.section-1 h1 {
    font-size: 8em;
    font-weight: bold;
    line-height: 75%;
    margin-bottom: 30px;
    
}

.section-1 h2 {
    font-size: 2em;
    font-weight: normal;
}

.section-1 h2::after {
    content: "";
    height: 20em;
    color: antiquewhite;
    background-color: antiquewhite;
  }

.section-1 img {
    margin: 0px auto;   
    border-radius: 10%;
}