body {
    background-color: #0d192b;
    color: #FFFFFF;
    font-family: 'Outfit';
    height: 1000px;
    margin: 0px;
    overflow-y: hidden;
}

.card {
    position: relative;
    top: 100px;
    display: flex;
    width: 280px;
    flex-direction: column;
    background-color: #14253d;
    padding: 25px;
    margin: 0px auto;
    padding-bottom: 15px;
    border-radius: 15px;
    font-size: 14px;
}

.photo {
    border-radius: 10px;
}

.card h1 {
    font-size: 24px;
    margin: 25px 0px 20px 0px;
    font-weight: 600;
    color: #EEE;
}

.card .description {
    font-size: 14px;
    font-weight: 300px;
    color: #8bacda;
    margin: 0px 0px 10px 0px;
}

section {
    display: flex;
    justify-content: space-between;
}

section p span {
    align-self: center;
}

.eth {
    color: #00fff7;
    font-weight: 600;
    display: flex;
}

.time {
    color: #8bacda;
    display: flex;
}

.divider {
    height: 1px;
    width: 100%;
    align-self: center;
    background-color: #2f415b;
}

.creator {
    display: flex;
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    color: #DDD;
}

.creator img {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    align-self: center;
    border-radius: 50px;
    border: 1px solid #EEE;
}

.creator p span {
    color: #8bacda;
}